<div class="outer">
  <mat-card class="card">
    <router-outlet></router-outlet>
    <mat-card-actions>
      <a 
        mat-icon-button 
        color="link" 
        title="Portfolio" 
        routerLink="/portfolio">
          <mat-icon>business_center</mat-icon>
      </a>
      <a 
        mat-icon-button 
        color="link" 
        title="My Skills" 
        routerLink="/skills">
          <mat-icon>fitness_center</mat-icon>
      </a>
      <a 
        mat-icon-button 
        color="link" 
        title="About me" 
        routerLink="/">
          <mat-icon>person</mat-icon>
      </a>
      <a 
        mat-icon-button 
        color="link" 
        title="Tools I work with" 
        routerLink="/tools">
          <mat-icon>handyman</mat-icon>
      </a>
      <a 
        mat-icon-button 
        color="link" 
        title="Technologies I use to develop projects" 
        routerLink="/tech">
          <mat-icon>important_devices</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>